<div class="row">
  <div class="col-sm-4">
    {{link-to 'タスク作成' 'tasks.new' class="btn btn-success"}}
    <ul class="list-unstyled">
      {{#each model as |task|}}
        <li>
          {{link-to task.title 'tasks.edit' task}}
          [
            {{#if task.deadline}}
              {{moment-format task.deadline 'YYYY-MM-DD'}}
            {{else}}
              未設定
            {{/if}}
          ]
          <input type="checkbox" checked={{task.complete}} {{action 'toggleCheckBox' task}}>
          {{task.complete}}
          <button class="btn btn-danger btn-xs" {{action 'deleteTask' task.id}}>削除</button>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>
