<div class="row">
  <div class="col-sm-4">
    {{link-to 'タスク作成' 'tasks.new' class="btn btn-success"}}
    <ul>
      {{#each model as |task|}}
        <li>
          {{link-to task.title 'tasks.edit' task}}:{{task.description}}:{{task.complete}}:{{task.deadline}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>
